.job-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: 10px 12px;
    width: 330px;
    height: 200px;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: left
}

.job-card * {
    margin: 0;
}

.job-card img {
    margin-bottom: 5px;
}

.job-card .company {
    margin-bottom: auto;
    font-size: medium
}

.job-card .location {
    margin-top: auto;
}

.job-card h4 {
    font-size: larger
}