.job-results {
    padding: 10px 0;
    display: flex;
    width: 95vw;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start
}

.jobdetails-link {
    color: inherit;
    text-decoration: inherit
}

a.jobdetails-link:hover {
    color: inherit;
    text-decoration: inherit
}