img{
    max-width: 100%;
    max-height: 100%;
}
.place-container{
    background:#f9f9f9;
    display:flex;
    /* margin:5px 5px; */
    flex-direction:column;
    padding: 5px 5px;
}
    
.place-elements
{
    display:grid;
    grid-template-columns: 40% 35% 20%;
    grid-template-rows: 40% 50% auto;
    column-gap:20px;
    row-gap:20px;
    width: 92vw;
    height: 70vh; 
    flex:2;
    align-self: flex-start;
}    

h1{
    color:#313335;
}

.detail {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end:2;
    font-weight: 600; 
    padding:5px 5px;
    overflow: hidden;
    text-align: justify;
    white-space: pre-line;
    text-overflow:ellipsis;

}

.living
{
    
    background: #ffffff;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:2;
    padding:5px 5px;
    padding-top: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    overflow:auto;
    border-radius: 10px;
    
}

.twitter
{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:1;
    grid-row-end:3;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    /* background-color: #15202a; */
/*     margin-left: 25rem;
    margin-bottom: 0.1rem; */
    background: #ffffff; 
    padding:5px 5px;
    overflow:auto;
    border-radius: 10px;
}

.expenses
{
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end:3;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding:5px 5px;
    overflow:auto;
    border-radius: 10px;
}

.corona
{
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    padding:5px 5px;
    overflow:auto;
    border-radius: 10px;
}

.living-bar
{
    display:flex;
    max-width: 100%;
    max-height: 100%;
}

.living-ind
{
    align-self: start;
    flex:1;
    padding:20px 10px 10px 10px;

}

.living-select
{
    
    flex:2;
    display:flex;
    flex-direction:column;
    padding:2px 2px;
    
}

.drop-list
{
    flex:1;
    background:white;
    display: inline;
}

.city-field
{
    
    align-self:flex-start;
    flex:1;
}


.ref-city-input
{
    width:97%;
    height:175%;
    border-radius: 5px;
    font-weight: 500;

}

.ref-city-input:hover
{
    border:#0077B5 solid 1px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.ref-city-input:focus
{
    border:#0077B5 solid 3px;
    border-radius: 5px;
}

.ref-city-submit
{
    display:none;
    
}

.activity-heading
{
    margin-bottom: 5px;
}

.activity
{    display:flex;
    flex-direction: column;
    border-radius: 5px;
    padding:5px;
    border: solid #ccc 1px;
    margin-top: 3px;
}


